.user-menu ul {
	list-style-type: none;
	display:flex;
	}	
.user-menu ul > li {
	margin-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	} 
.user-menu ul > li.acilir {
	position:relative;
	}	
.user-menu ul > li:last-child {
	margin-right:0;
	}	
.user-menu ul > li > a{
	display:flex;
	flex-direction:column;
	align-items:center;
	color:#333333;
	font-size:14px;
	}
.user-menu ul > li > a > i{
	margin-bottom:5px;
	font-size:20px;
	}		
.user-menu ul > li:hover > a{
	color:#f27a1a;
	}	
.login-menu {
	position:absolute;
	width:280px;
	padding:15px;
	display:flex;
	flex-direction:column;
	border:1px solid #d6d6d6;
	top:70px;
	left:50%;
	transform:translateX(-50%);
	visibility:hidden;
	opacity:0;
	z-index:999;
	background-color:#FFF;
	
	}	
.user-menu ul > li.acilir:hover> .login-menu {
	transition:all .3s;
	visibility:visible;
	opacity:1;
	top:66px;
	}	
.login-menu:before, .login-menu:after{
	content:'';
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	border-style:solid;
	border-width:0px 14px 14px 14px;
	
	}
.login-menu:before{
	border-color:transparent transparent #d6d6d6 transparent;
	top:-14px;
	}	
.login-menu:after{
	border-color:transparent transparent #fff transparent;
	top:-13px;
	}		
.login-menu > a{
	display:block;
	text-align:center;
	padding-top:8px;
	padding-bottom:8px;
	text-align:center;
	font-size:14px;
	font-weight:600;
	}
.login-menu > a:first-child{
	background-color:#f27a1a;
	color:#FFF;
	margin-bottom:10px;
	border:1px solid #f27a1a;
	}
.login-menu > a:hover:first-child{	
	background-color:#ff8b39;
	border:1px solid #ff8b39;
}
.login-menu > a:last-child{
	color:#666;
	border:1px solid #d6d6d6;
	}	
.login-menu > a:hover:last-child{
	color:#ff8b39;
	border:1px solid #ff8b39;
	}	
	
.kullanıcı i
{
  width: 25px;
  height: 30px;
  padding:0 10px;
  color:#5443c3;
  font-size:20px;
  cursor:pointer;
}